:root {
  --background: #fff;
  --color: #000;
}
@media (prefers-color-scheme: light) {
  :root {
    --background: #fff;
    --color: #000;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --color: #fff;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Work Sans", sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  transition: all 400ms ease-in-out 200ms;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-weight: normal;
}
body {
  background-color: var(--background);
  color: var(--color);
}

.center-grid {
  display: grid;
  place-items: center;
}
.full-height {
  height: 100%;
}

.page-heading {
  margin: 2rem 0;
}
.container {
  padding: 0 2rem;
}
.form-container {
  display: flex;
  gap: 36px;
  justify-content: center;
}
.form-container {
  padding: 12px;
}
.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-grow: 1;
  max-width: 540px;
  justify-content: center;
}
.feedback-label {
  font-size: 2rem;
}
.feedback-textarea {
  color: white;
  background: #ffffff1f;
  border-color: #ffffff4d;
  width: 100%;
}
.pruthvi-svg {
  display: none;
}
#pruthvi-face {
  d: path(
    "M305.391 273.572C302.361 272.336 299.658 270.274 297.682 267.64C296.995 266.725 296.816 265.758 296.961 264.873C297.123 263.879 297.711 262.978 298.513 262.373C299.318 261.767 300.325 261.467 301.298 261.62C302.143 261.752 302.985 262.215 303.651 263.176L303.791 263.368C304.966 264.958 306.497 266.262 308.241 267.103C309.923 267.913 311.803 268.291 313.75 268.071C317.456 267.653 320.011 265.648 322.726 262.926C323.063 262.582 323.4 262.227 323.738 261.867C323.952 261.541 324.248 261.331 324.578 261.221C324.943 261.099 325.357 261.105 325.736 261.238C326.101 261.365 326.428 261.607 326.647 261.928C326.855 262.234 326.973 262.612 326.935 263.046C326.686 265.867 325.211 268.385 323.116 270.362C320.79 272.558 317.705 274.077 314.802 274.61C311.603 275.197 308.343 274.777 305.391 273.572V273.572ZM316.311 230.048C319.714 232.117 324.9 236.941 321.239 242.071C316.929 246.593 310.724 241.408 307.666 239.063C304.831 237.245 301.645 241.92 304.276 244.042C326.371 260.402 335.338 230.589 318.032 227.615C316.127 227.288 315.419 229.408 316.311 230.048ZM276.716 211.017C277.092 206.349 284.201 205.289 284.908 209.908C285.541 214.046 284.796 217.847 282.932 221.573C281.151 225.132 276.676 223.471 276.337 220.23C275.883 215.886 276.482 213.921 276.716 211.017ZM330.829 208.95C331.82 207.652 333.251 206.766 334.966 207.267C340.322 208.832 338.743 216.438 336.862 220.14C335.84 222.15 332.536 222.66 331.043 220.89C328.609 218.003 327.443 212.239 330.537 209.395C330.621 209.248 330.715 209.1 330.829 208.95ZM282.857 190.591L283.703 190.443C286.32 189.99 289.575 189.555 291.427 191.66C292.409 192.776 292.747 194.85 291.427 195.918C289.105 197.798 286.537 197.07 283.755 197.229C281.462 197.36 279.258 197.74 277.049 198.371C272.203 199.756 268.254 202.285 264.115 205.062C263.572 205.426 263.018 204.731 263.277 204.223C265.666 199.543 270.296 195.699 274.934 193.355C277.409 192.105 280.118 191.067 282.857 190.591ZM325.946 188.494L326.594 188.627C333.641 190.1 342.798 193.043 346.136 199.967C346.263 200.946 346.128 201.155 346.019 201.293L345.983 201.338C345.893 201.455 345.821 201.617 345.397 201.75C345.279 201.722 345.16 201.692 345.04 201.661C343.51 201.26 342.3 200.707 341.128 200.134L339.857 199.508C338.383 198.785 336.896 198.089 335.32 197.575C331.957 196.477 328.498 195.705 324.985 195.292C324.223 195.203 323.49 194.946 322.912 194.505C322.363 194.087 321.943 193.508 321.752 192.739C321.504 191.743 321.575 190.989 322.11 190.091C322.511 189.416 323.086 188.949 323.746 188.68C324.419 188.406 325.185 188.342 325.946 188.494"
  );
  transition: all 2s;
  animation-name: blink;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
@keyframes blink {
  0% {
    d: path(
      "M305.391 273.572C302.361 272.336 299.658 270.274 297.682 267.64C296.995 266.725 296.816 265.758 296.961 264.873C297.123 263.879 297.711 262.978 298.513 262.373C299.318 261.767 300.325 261.467 301.298 261.62C302.143 261.752 302.985 262.215 303.651 263.176L303.791 263.368C304.966 264.958 306.497 266.262 308.241 267.103C309.923 267.913 311.803 268.291 313.75 268.071C317.456 267.653 320.011 265.648 322.726 262.926C323.063 262.582 323.4 262.227 323.738 261.867C323.952 261.541 324.248 261.331 324.578 261.221C324.943 261.099 325.357 261.105 325.736 261.238C326.101 261.365 326.428 261.607 326.647 261.928C326.855 262.234 326.973 262.612 326.935 263.046C326.686 265.867 325.211 268.385 323.116 270.362C320.79 272.558 317.705 274.077 314.802 274.61C311.603 275.197 308.343 274.777 305.391 273.572V273.572ZM316.311 230.048C319.714 232.117 324.9 236.941 321.239 242.071C316.929 246.593 310.724 241.408 307.666 239.063C304.831 237.245 301.645 241.92 304.276 244.042C326.371 260.402 335.338 230.589 318.032 227.615C316.127 227.288 315.419 229.408 316.311 230.048ZM276.716 211.017C277.092 206.349 284.201 205.289 284.908 209.908C285.541 214.046 284.796 217.847 282.932 221.573C281.151 225.132 276.676 223.471 276.337 220.23C275.883 215.886 276.482 213.921 276.716 211.017ZM330.829 208.95C331.82 207.652 333.251 206.766 334.966 207.267C340.322 208.832 338.743 216.438 336.862 220.14C335.84 222.15 332.536 222.66 331.043 220.89C328.609 218.003 327.443 212.239 330.537 209.395C330.621 209.248 330.715 209.1 330.829 208.95ZM282.857 190.591L283.703 190.443C286.32 189.99 289.575 189.555 291.427 191.66C292.409 192.776 292.747 194.85 291.427 195.918C289.105 197.798 286.537 197.07 283.755 197.229C281.462 197.36 279.258 197.74 277.049 198.371C272.203 199.756 268.254 202.285 264.115 205.062C263.572 205.426 263.018 204.731 263.277 204.223C265.666 199.543 270.296 195.699 274.934 193.355C277.409 192.105 280.118 191.067 282.857 190.591ZM325.946 188.494L326.594 188.627C333.641 190.1 342.798 193.043 346.136 199.967C346.263 200.946 346.128 201.155 346.019 201.293L345.983 201.338C345.893 201.455 345.821 201.617 345.397 201.75C345.279 201.722 345.16 201.692 345.04 201.661C343.51 201.26 342.3 200.707 341.128 200.134L339.857 199.508C338.383 198.785 336.896 198.089 335.32 197.575C331.957 196.477 328.498 195.705 324.985 195.292C324.223 195.203 323.49 194.946 322.912 194.505C322.363 194.087 321.943 193.508 321.752 192.739C321.504 191.743 321.575 190.989 322.11 190.091C322.511 189.416 323.086 188.949 323.746 188.68C324.419 188.406 325.185 188.342 325.946 188.494"
    );
  }
  10% {
    d: path(
      "M305.391 273.572C302.361 272.336 299.658 270.274 297.682 267.64C296.995 266.725 296.816 265.758 296.961 264.873C297.123 263.879 297.711 262.978 298.513 262.373C299.318 261.767 300.325 261.467 301.298 261.62C302.143 261.752 302.985 262.215 303.651 263.176L303.791 263.368C304.966 264.958 306.497 266.262 308.241 267.103C309.923 267.913 311.803 268.291 313.75 268.071C317.456 267.653 320.011 265.648 322.726 262.926C323.063 262.582 323.4 262.227 323.738 261.867C323.952 261.541 324.248 261.331 324.578 261.221C324.943 261.099 325.357 261.105 325.736 261.238C326.101 261.365 326.428 261.607 326.647 261.928C326.855 262.234 326.973 262.612 326.935 263.046C326.686 265.867 325.211 268.385 323.116 270.362C320.79 272.558 317.705 274.077 314.802 274.61C311.603 275.197 308.343 274.777 305.391 273.572V273.572ZM316.311 230.048C319.714 232.117 324.9 236.941 321.239 242.071C316.929 246.593 310.724 241.408 307.666 239.063C304.831 237.245 301.645 241.92 304.276 244.042C326.371 260.402 335.338 230.589 318.032 227.615C316.127 227.288 315.419 229.408 316.311 230.048ZM276.716 214.916C277.092 213.794 284.201 213.539 284.908 214.65C285.541 215.645 284.796 216.558 282.932 217.454C281.151 218.31 276.676 217.911 276.337 217.131C275.883 216.087 276.482 215.615 276.716 214.916ZM330.829 214.616C331.82 214.267 333.251 214.028 334.966 214.163C340.322 214.585 338.743 216.634 336.862 217.631C335.84 218.173 332.536 218.31 331.043 217.833C328.609 217.055 327.443 215.502 330.537 214.736C330.621 214.697 330.715 214.657 330.829 214.616ZM282.857 190.591L283.703 190.443C286.32 189.99 289.575 189.555 291.427 191.66C292.409 192.776 292.747 194.85 291.427 195.918C289.105 197.798 286.537 197.07 283.755 197.229C281.462 197.36 279.258 197.74 277.049 198.371C272.203 199.756 268.254 202.285 264.115 205.062C263.572 205.426 263.018 204.731 263.277 204.223C265.666 199.543 270.296 195.699 274.934 193.355C277.409 192.105 280.118 191.067 282.857 190.591ZM325.946 188.494L326.594 188.627C333.641 190.1 342.798 193.043 346.136 199.967C346.263 200.946 346.128 201.155 346.019 201.293L345.983 201.338C345.893 201.455 345.821 201.617 345.397 201.75C345.279 201.722 345.16 201.692 345.04 201.661C343.51 201.26 342.3 200.707 341.128 200.134L339.857 199.508C338.383 198.785 336.896 198.089 335.32 197.575C331.957 196.477 328.498 195.705 324.985 195.292C324.223 195.203 323.49 194.946 322.912 194.505C322.363 194.087 321.943 193.508 321.752 192.739C321.504 191.743 321.575 190.989 322.11 190.091C322.511 189.416 323.086 188.949 323.746 188.68C324.419 188.406 325.185 188.342 325.946 188.494Z"
    );
  }
  15%,
  100% {
    d: path(
      "M305.391 273.572C302.361 272.336 299.658 270.274 297.682 267.64C296.995 266.725 296.816 265.758 296.961 264.873C297.123 263.879 297.711 262.978 298.513 262.373C299.318 261.767 300.325 261.467 301.298 261.62C302.143 261.752 302.985 262.215 303.651 263.176L303.791 263.368C304.966 264.958 306.497 266.262 308.241 267.103C309.923 267.913 311.803 268.291 313.75 268.071C317.456 267.653 320.011 265.648 322.726 262.926C323.063 262.582 323.4 262.227 323.738 261.867C323.952 261.541 324.248 261.331 324.578 261.221C324.943 261.099 325.357 261.105 325.736 261.238C326.101 261.365 326.428 261.607 326.647 261.928C326.855 262.234 326.973 262.612 326.935 263.046C326.686 265.867 325.211 268.385 323.116 270.362C320.79 272.558 317.705 274.077 314.802 274.61C311.603 275.197 308.343 274.777 305.391 273.572V273.572ZM316.311 230.048C319.714 232.117 324.9 236.941 321.239 242.071C316.929 246.593 310.724 241.408 307.666 239.063C304.831 237.245 301.645 241.92 304.276 244.042C326.371 260.402 335.338 230.589 318.032 227.615C316.127 227.288 315.419 229.408 316.311 230.048ZM276.716 211.017C277.092 206.349 284.201 205.289 284.908 209.908C285.541 214.046 284.796 217.847 282.932 221.573C281.151 225.132 276.676 223.471 276.337 220.23C275.883 215.886 276.482 213.921 276.716 211.017ZM330.829 208.95C331.82 207.652 333.251 206.766 334.966 207.267C340.322 208.832 338.743 216.438 336.862 220.14C335.84 222.15 332.536 222.66 331.043 220.89C328.609 218.003 327.443 212.239 330.537 209.395C330.621 209.248 330.715 209.1 330.829 208.95ZM282.857 190.591L283.703 190.443C286.32 189.99 289.575 189.555 291.427 191.66C292.409 192.776 292.747 194.85 291.427 195.918C289.105 197.798 286.537 197.07 283.755 197.229C281.462 197.36 279.258 197.74 277.049 198.371C272.203 199.756 268.254 202.285 264.115 205.062C263.572 205.426 263.018 204.731 263.277 204.223C265.666 199.543 270.296 195.699 274.934 193.355C277.409 192.105 280.118 191.067 282.857 190.591ZM325.946 188.494L326.594 188.627C333.641 190.1 342.798 193.043 346.136 199.967C346.263 200.946 346.128 201.155 346.019 201.293L345.983 201.338C345.893 201.455 345.821 201.617 345.397 201.75C345.279 201.722 345.16 201.692 345.04 201.661C343.51 201.26 342.3 200.707 341.128 200.134L339.857 199.508C338.383 198.785 336.896 198.089 335.32 197.575C331.957 196.477 328.498 195.705 324.985 195.292C324.223 195.203 323.49 194.946 322.912 194.505C322.363 194.087 321.943 193.508 321.752 192.739C321.504 191.743 321.575 190.989 322.11 190.091C322.511 189.416 323.086 188.949 323.746 188.68C324.419 188.406 325.185 188.342 325.946 188.494"
    );
  }
}

@media only screen and (min-width: 768px) {
  .pruthvi-svg {
    display: block;
  }
}
